/* styling for whole application, only includes font-family */
body {
    font-family: 'Noto Sans JP', sans-serif;
}

/* styling for the top left high score link */
#high-score-link {
    /* requires block */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    color: #630436;
    opacity: 0.5;
}

/* hover effect if user hovers over high score link */
#high-score-link:hover {
    opacity: 1.0;
}

/* styling for the score and timer area in top right of screen */
#right-box {
    /* requires block */
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2%;
    width: 120px;
    color: #630436;
}

/* class which styles score and timer titles */
.right-box-title {
    position: relative;
    text-align: left;
    margin-bottom: 5%;
}

/* styles and positions the score and timer text */
.updating-text {
    position: absolute;
    right: 5px;
}

/* welcome card styling */
#welcome-card {
    /* change to flex to view card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin: 12% auto 0 auto;
    text-align: center;
}

/* styling for the title of the welcome card */
#welcome-card h1 {
    padding: 2%;
    margin-bottom: 2%;
    font-size: 200%;
    color: #630436;
}

/* styling for the welcome card text */
#welcome-card p {
    line-height: 1.4;
    font-size: 140%;
    margin-bottom: 5%;
}

/* styling for all buttons containing this class */
.button {
    padding: 2%;
    margin-top: 6%;
    font-size: 160%;
    width: 40%;
    border-radius: 12px;
    color: antiquewhite;
    background-color:#630436;
    opacity: 0.4;
    text-align: center;
}

/* hover effect for all buttons */
.button:hover {
    opacity: 0.9;
}

/* question card styling and positioning */
#question-card {
    /* needs flex to work */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9% auto 0 auto;
    width: 60%;
    height: auto;
}

/* question card title styling and positioning */
#question-card h2 {
    padding: 3%;
    font-size: 200%;
    line-height: 1.2;
    margin-bottom: 2%;
    color: #630436;
}

/* question card questions ordered list styling */
#question-card ol {
    list-style-type: upper-alpha;
    list-style-position: inside;
    font-size: 140%;
    width: 60%;
    margin: 0 auto;
    background-color: 630436;
}

/* positioning for each question list item */
#question-card ol li {
    margin-bottom: 2%;
    padding: 2%;
}

/* positioning of text in each list item */
#question-card ol li span {
    margin-left: 4%;
}

/* hover effect to show what list item the user is hovering 
over and about to select */
#question-card ol li:hover {
    background-color: #630436;
    border-radius: 10px;
    color: antiquewhite;
}

/* styling for the answer notifier text */
#correct-Answer-Notifier {
    /* needs block */
    display: none;
    padding: 10%;
    font-size: 250%;
}

/* styling for the form card for entry of the high score
if user decides to */
#form-card {
    /* requires flex */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin: 8% auto 0 auto;
}

/* form card styling and positioning */
#form-card h2 {
    font-size: 200%;
    padding: 5%;
    width: 60%;
    text-align: center;
    color: #630436;
}

/* form card score styling */
#form-card h2 span {
    margin-left: 5%;
}

/* input field styling on the form card */
#form-card input {
    width: 70%;
    padding: 2%;
    font-size: 160%;
    border-radius: 15px;
}

/* button container positioning */
#button-container-on-form-card {
    position: relative;
    width: 50%;
}

/* button positioning */
#back-to-start-button-from-form {
    position: absolute;
    left: 0;
}

/* button positioning */
#submit-to-scoreboard {
    position: absolute;
    right:0;
}

/* high scores card styling and positioning */
#high-scores-card {
    /* requires flex */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin: 8% auto 0 auto;
    text-align: center;
}

/* high scores title styling */
#high-scores-card h2 {
    font-size: 200%;
    padding: 5%;
    color: #630436;
}

/* high scores list styling and positioning */
#high-scores-card ol {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 150%;
    width: 80%;
    height: auto;
    text-align: left;
}

/* high scores list item stying and positioning */
#high-scores-card ol li {
    position: relative;
    background-color: rgba(255, 182, 193, 0.3);
    padding: 2%;
    margin-bottom: 3%;
    border-radius: 5px;
}

/* button container positioning */
#button-container-on-high-scores {
    position: relative;
    width: 80%;
}

/* button positioning */
#clear-scores-button {
    position: absolute;
    left: 0;
}

/* button positioning */
#back-to-start-button {
    position: absolute;
    right:0;
}

/* positioning for user name on high score list */
#user-name {
    position: absolute;
    left: 15%;
}

/* positioning for user score on high score list */
#user-score {
    position: absolute;
    right: 2%;
}

/* styling for smaller screens */
@media screen and (max-width: 800px) {
    #question-card {
        margin-top: 16%;
        width: 80%;
    }

    #form-card {
        width: 80%;
        margin-top: 16%;
    }
}

/* styling for mobile screens */
@media screen and (max-width: 375px) {
    #welcome-card {
        width: 90%;
        margin-top: 20%;
    }
    
    #question-card {
        margin-top: 16%;
        width: 95%;
    }

    #question-card ol {
        width: 80%;
    }

    #form-card {
        width: 95%;
        margin-top: 16%;
    }

    #high-scores-card {
        width: 80%;
        margin-top: 16%;
    }

    #button-container-on-form-card {
        width: 80%;
    }
}